- 
  var KANBAN_BOARD = [
    {
      Name: "Ready",
      date: "15 Feb",
      status:"primary",
      topBorder:"primary",
    },
    {
      Name: "Review",
      date: "15 Feb",
      status:"danger",
      topBorder:"danger",
    },
    {
      Name: "In Progress",
      date: "15 Feb",
      status:"warning",
      topBorder:"warning",
    },
  ];

mixin kanban-board(data)
  div.col-span-4.shadow-xl.rounded-b-md
    div.h-2.rounded-t-md(class=`bg-${data.topBorder}`)
    div.p-3.flex.justify-between
      h3(class="font-bold text-title")=(data.Name)
      i(data-feather="plus" class=`stroke-${data.status} border rounded`)

//-   div.col-span-4.shadow-xl.rounded-b-md
//-     div.bg-warning.h-2.rounded-t-md
//-     div.p-3.flex.justify-between 
//-       h3(class="font-bold text-title")=(data.Name)
//-       i(data-feather="plus" class="stroke-warning border rounded")
//-   div.col-span-4.shadow-xl.rounded-b-md
//-     div.bg-danger.h-2.rounded-t-md
//-     div.p-3.flex.justify-between
//-       h3(class="font-bold text-title")=(data.Name)
//-       i(data-feather="plus" class="stroke-danger border rounded")