/*=====================
  2.1  Basic Reset Css
  ==========================*/
@layer base {
  * {
    &:after,
    &:before {
      @apply p-0 m-0;
    }
  }

  html {
    @apply h-full;
  }

  html,
  body {
    @apply w-full;
  }
  body {
    @apply bg-body;
  }
  input,
  select,
  textarea {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
    opacity: 1; /* Firefox */
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .dashed-border-horizontal {
    @apply bg-dashed-horizontal bg-sm-h bg-bottom bg-repeat-x;
  }
  .dashed-border-vertical {
    @apply bg-dashed-vertical bg-sm-v bg-right bg-repeat-y;
  }
  .custom-scroll {
    &::-webkit-scrollbar {
      @apply w-[4px] h-[4px];
    }
    &::-webkit-scrollbar-track {
      @apply bg-gray-200; 
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-300  rounded-[.0391rem] border border-gray-400  h-[5px];
    }
  }
  .customizer-sidebar {
    @apply duration-300 z-10 transition-all fixed min-w-[280px] max-w-[280px]  h-screen -right-full top-0 bottom-0 bg-white border-l border-light;
    &.show {
      @apply right-0 rtl:left-0 rtl:right-unset;
    }
  }
  .apex-custom-text {
    .apexcharts-xaxis-title-text {
      @apply -translate-x-1/2 2md:translate-x-0;
    }
  }
  .custom-data-label {
    .apexcharts-datalabels {
      rect {
        filter: drop-shadow(0 4px 4px rgb(0 0 0 / 0.2));
        @apply w-[25px] h-[25px] stroke-[3px] stroke-white;
      }
      text {
        @apply translate-x-[2px] translate-y-[4px];
      }
      .apexcharts-data-labels {
        &:nth-child(4n + 1) {
          rect {
            @apply fill-primary;
          }
        }
        &:nth-child(4n + 2) {
          rect {
            @apply fill-secondary;
          }
        }
        &:nth-child(4n + 3) {
          rect {
            @apply fill-[var(--chart-dark)];
          }
        }
        &:nth-child(4n + 4) {
          rect {
            @apply fill-warning;
          }
        }
      }
    }
  }
  .round-bar {
    .apexcharts-plot-series {
      .apexcharts-series {
        path {
          clip-path: inset(5% 5% 5% 0% round 8px) !important;
        }
      }
    }
  }
.
  /* Custom scroll */
  .page-sidebar{
    &.sidebar-dark {
      .custom-scroll {
        &::-webkit-scrollbar {
          @apply w-[.25rem] h-[.25rem];
        }
        &::-webkit-scrollbar-track {
          @apply bg-sidebar-dark2;
        }
        &::-webkit-scrollbar-thumb {
          @apply bg-sidebar-dark h-[.3125rem];
        }
      }
    }
  }

    /* Fill Heart Svg */
  .post-media{
    &.post-liked, &.wish-liked{
      .post-like, .wish-like{
        @apply fill-danger stroke-danger;
        animation: liked 0.1s ease-in-out;
      }
    }
    &.post-disliked{
      .post-dislike{
        @apply fill-border-dark stroke-border-dark;
        animation: liked 0.1s ease-in-out;
      }
    }
  }
  @keyframes liked{
    00%{
      transform: scale(0);
    }
    45%{
      transform: scale(0.7);
    }
    100%{
      transform: scale(1);
    }
  }

    /* Tada Shake Animation */
  .svg-shake{
    &:hover{
      .strong-hover-shake{
        animation: tada 1.5s ease infinite;
      }
    }
  }

  @keyframes tada {
    0% {
      transform: scaleX(1);
    }
    10% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }
    30% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    70% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }
    40% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    60% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }
    100% {
        transform: scaleX(1);
    }
  }
}

.announcement-image{
  img{
    filter: brightness(0.5);
  }
} 

  /* Cuatom Ping Animation  */
div[class*=activity-dot-secondary]{
  animation: round 1.3s ease-in-out infinite;
}

.activity-dot-secondary{
    @apply min-w-[9px] h-[9px] w-[9px] mx-auto bg-secondary rounded-full relative z-[2];
    outline: 4px solid var(--secondary-light);
}
@keyframes round{
  0% {
      transform: scale(1);
    }

  50% {
      transform: scale(1.2);
    }
  100% {
      transform: scale(1);
    }
}

/* Ecommerce Chart Css */
#salesSummaryChart{
  .apexcharts-tooltip {
    &.apexcharts-theme-light{
      &.apexcharts-active{
        @apply  overflow-visible ;
      }
    }
  }
} 
#totalCustomerLineChart{
  @apply mt-[-32px] mx-[0] mb-[-28px] ;
}
#totalOrderLineChart{ 
  @apply mt-[-32px] mx-[0] mb-[-28px];
} 
#OrdersStatus{
  @apply ml-[0px] mt-[15px];  
}
#totalExpensesLineChart{
  @apply ml-[50px];
}

/* Text Underline Hover Effrct */
.framework-hover{
  .hover-underline-animation{
    @apply inline-block relative;
    &:before{
      @apply content-[''] absolute w-full h-[.125rem] bottom-0 left-0 origin-bottom-left transform transition-all duration-500 scale-x-0;
    }
    &.text-primary{
      &:before{
        @apply bg-primary;
      }
    }
    &.text-secondary{
      &:before{
        @apply bg-secondary;
      }
    }
    &.text-warning{
      &:before{
        @apply bg-warning;
      }
    }
  }
  &:hover{
    .hover-underline-animation{
      &:before{
         @apply scale-x-100 origin-bottom-left;
      }
    }
  }
}

/* Landing Card Animation */
.rounded-border-main{
  .rounded-border {
    @apply relative;
      &:before{
        @apply content-[''] w-[120%] h-[120%] rounded-full absolute left-[-5px] top-[-5px]  border-dashed border-primary border-[.0938rem];
      }
    }
  &:hover{
    .rounded-border {
      &:before{
        @apply border-white;
        animation: rotate 8s infinite linear;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing Home Background Image */
.bg-landing-size{
  background-image: url(../../assets/images/landing/svg/header.png);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
  @apply lg:h-auto;
}

/* Tranding Text Animation */
.trending-animate{
  animation: animationtop 5s infinite;
}

@keyframes animationtop{
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Landing Wave Animation */
.wavy-gif {
  @apply absolute;
  svg {
    @apply w-[5rem];
    path {
      @apply stroke-content3;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      animation: dash 3s linear infinite;
    }
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


