/*=====================
  Main Css CSS
  ==========================*/
@layer components {
  .page-body-wrapper {
    .page-body {
      @apply mt-main-space px-body-space ml-auto h-full;
    }
    .friendly-body {
      width: calc(100% - (theme('spacing.body-space2') + 7.5rem));
      @screen 5xl {
        width: calc(100% - (theme('spacing.body-space2') + 6.6875rem));
      }
      @screen 3xl {
        width: calc(100% - (theme('spacing.body-space2') + 5.75rem));
      }
      @screen xl {
        @apply w-full;
      }
    }
  }
}
