
mixin footer(footerMainClasses)
    div(class=`page-footer 3sm:!px-[10px] fixed bottom-0 xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300 ${footerMainClasses}`) 
        p(class="text-xs font-semibold text-center text-content 3sm:text-2xs") Copyright 2023 © Govo theme by pixelstrap
        div.flex.items-center.gap-2(class="sm:hidden") 
            p(class="text-xs font-semibold text-center text-content 3sm:text-2xs") Hand crafted & made with
            i(data-feather="heart" class="stroke-danger h-[18px] 3sm:h-[14px] 3sm:w-[14px] w-[18px] fill-danger")