
// Profile Start 
div.dropdown 
   div.flex.items-center(class="gap-[10px] cursor-pointer") 
      div
         img(class="w-[40px] h-auto rounded-full" src="../../assets/images/avatar/1.jpg" alt="avatar")
      div(class="2xl:hidden")
         h4(class="text-xs font-bold text-white")  Helen Walter
         span.flex.items-center.gap-1(class="text-3xs font-semibold text-white")
            | Admin
            +SVG_ICON( "Fill-Arrow","w-[6px] h-[4px] stroke-white fill-white")
   div.dropdown-menu(class="!min-w-[170px]") 
      ul.flex.flex-col.gap-3 
         each setting in PROFILE_SETTING
            li 
               a(href=`${setting.url}` class="text-title flex items-center gap-2")
                  +SVG_ICON(`${setting.icon}`,"w-[22px] h-[22px] stroke-title")
                  = setting.name
// Profile End 