
//- customizer 
-var customizer=true;

//- landing
-var landing=true; 

//- all JSON  
include ../../data/all-data

//- all mixin
include ../../mixin/mixin

doctype html
html(lang='en')
    include ../../layout/header-files
    body(dir="ltr" class="unique-skin")
        main.page-wrapper.landing-main
            section#home 
                div(class="header-sticky top-0 left-0 w-full z-[100] bg-white relative")
                    div.container.relative 
                        include ../../layout/header/landing-header 
                //- div.relative.bg-title(class="h-[100vh] w-full")
                //-     div(class="home-section lg:px-[15px] lg:pb-0 px-[calc(25px_+_(224_-_25)_*_((100vw_-_320px)_/_(1920_-_320)))] py-[calc(2.2rem_+_(5.5_-_2.2)_*_((100vw_-_320px)_/_(1920_-_320)))] relative")
                //-         div.grid.grid-cols-2           
                //-             div.col-span-1(class="lg:col-span-2")       
                //-                 div.relative(class="lg:w-[70%] m-auto")  

            section(class="bg-white py-section-space" id="framework")
                div.container
                    div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
                        h2.text-title.font-semibold(class="leading-none") Admin 
                            span.text-primary.font-semibold Unique Layouts
                        p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") We comes up with most creative and useful main general Purpose Dashboard Template
                    div.grid.grid-cols-12(class="gap-card-gap")
                        div.col-span-6(class="sm:col-span-12") 
                            a(href="./index.html" class="block text-center transition-all framework-hover group hover:-translate-y-2 ")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                                    img(class="w-full rounded-5 transition-al " src="../../assets/images/landing/dashboard/default.png" alt="dashboard") 
                                h3.text-primary.text-lg.font-medium.mt-3(class="2xl:mt-2 hover-underline-animation") Unique Dashboard    
                        div.col-span-6(class="sm:col-span-12") 
                            a(href="./education.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                                    img(class="w-full transition-all rounded-5" src="../../assets/images/landing/dashboard/default.png" alt="dashboard") 
                                h3.text-secondary.text-lg.font-medium.mt-3(class="2xl:mt-2 hover-underline-animation") Ecommerce Dashboard   

            section(class="py-section-space bg-landingBg" id="core-feature")
                div.container
                    div(class="max-w-[47%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5")
                        h2.text-title.font-semibold Pre-Build 
                            span.text-primary.font-semibold Components
                        p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") Tailwindcss is the utility-first CSS framework, tailwind provide utility classes with the help of utility classes you can build your component but we already  make most use full component that cover your front end.
                    div.grid.grid-cols-12(class="gap-card-gap")
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Buttons 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Avatars
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Badges 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Business-Chart" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Progress
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6") 
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Modal 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6") 
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Alert
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Dropdown 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Arrows-Action" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Collapse
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Tooltip 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Divider
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Breadcrumbs 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Pagination 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Carousel 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Pie-Chart" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Radial Progress
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Indicator 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Mask
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Duotone-Layer" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Stack 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Duotone" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Steps
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6") 
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Tabs 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6") 
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Rating
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Select 
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Switch
                        div.col-span-2(class="sm:col-span-4 2sm:col-span-6")
                            div.flex.items-center.gap-4.bg-white(class="justify-center font-medium group rounded-border-main hover:translate-y-[-5px] py-5 px-7 hover:transition-all hover:ease translate-y-0 border border-primary rounded-2xl group hover:bg-primary hover:text-white") 
                                span.rounded-border.bg-primary-light(class="p-[10px] rounded-full group-hover:bg-white")
                                    +SVG_ICON("Discovery" ,"h-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] w-[calc(18px_+_(30-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] stroke-primary fill-primary")
                                small.text-title.font-bold.text-base-responsive(class="!leading-5 group-hover:text-white")  Checkboxes

            section(class="bg-white py-section-space" id="application")
                div.container
                    div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
                        h2.text-title.font-semibold(class="leading-none") Useful  
                            span.text-primary.font-semibold Application
                        p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") We provide Most Useful App That help you to manage all thing on one side
                    div.grid.grid-cols-12(class="gap-card-gap")
                        div.col-span-4(class="sm:col-span-12")
                            a(href="./index.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                                    img(class="w-full object-contain h-[270px] rounded-5 transition-all" src="../../assets/images/landing/app/chat.png" alt="dashboard") 
                                    div.bg-primary-light
                                        h3.text-primary.text-lg.font-medium.mt-2(class="hover-underline-animation") Chat App    
                        div.col-span-4(class="sm:col-span-12") 
                            a(href="./education.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                                    img(class="w-full object-contain h-[270px] transition-all rounded-5" src="../../assets/images/landing/app/calendar.png" alt="dashboard") 
                                    div.bg-secondary-extralight
                                        h3.text-secondary.text-lg.font-medium.mt-2(class="hover-underline-animation") Calendar App 
                        div.col-span-4(class="sm:col-span-12") 
                            a(href="./education.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-warning-extralight")
                                    img(class="w-full object-contain h-[270px] transition-all rounded-5" src="../../assets/images/landing/app/email.png" alt="dashboard") 
                                    div.bg-warning-extralight
                                        h3.text-warning.text-lg.font-medium.mt-2(class="hover-underline-animation") Email App 
                        div.col-span-4(class="sm:col-span-12") 
                            a(href="./index.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-warning-extralight")
                                    img(class="w-full object-contain h-[270px] rounded-5 transition-all" src="../../assets/images/landing/app/kanban.png" alt="dashboard") 
                                    div.bg-warning-extralight
                                        h3.text-warning.text-lg.font-medium.mt-2(class="hover-underline-animation") Kanban Board App    
                        div.col-span-4(class="sm:col-span-12") 
                            a(href="./education.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-primary-light")
                                    img(class="w-full object-contain h-[270px] transition-all rounded-5" src="../../assets/images/landing/app/todo.png" alt="dashboard") 
                                    div.bg-primary-light
                                        h3.text-primary.text-lg.font-medium.mt-2(class="hover-underline-animation") Todo App 
                        div.col-span-4(class="sm:col-span-12") 
                            a(href="./education.html" class="block text-center transition-all framework-hover group hover:-translate-y-2")
                                div(class="overflow-hidden transition-all border-[15px] rounded-3xl border-secondary-extralight")
                                    img(class="w-full object-contain h-[270px] transition-all rounded-5" src="../../assets/images/landing/app/user.png" alt="dashboard") 
                                    div.bg-secondary-extralight
                                        h3.text-secondary.text-lg.font-medium.mt-2(class="hover-underline-animation") User App

            section(class="py-section-space bg-landingBg" id="core-feature")
                div.container
                    div(class="max-w-[46%] 2xl:max-w-[70%] 2md:max-w-[100%] mx-auto text-center mb-9 lg:mb-7 sm:mb-5 2xl:mb-8")
                        h2.text-title.font-semibold(class="leading-none") Our Core  
                            span.text-primary.font-semibold Features
                        p(class=" text-base-responsive text-content3 font-semibold  leading-[1.5] mt-2") Create your web application amazing and more professional with this super user-friendly dashboard template
                    div.grid.grid-cols-12(class="gap-card-gap")
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/1.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Quality & Clean Code
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") Code is spited multiple mini component and well commenting it super easy to maintain and  easy to use.
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/2.svg" alt="feature")
                                div
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Tailwind Css
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white")  A utility-first CSS framework packed with classes that can be composed to build any design, directly in your markup.  
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12") 
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/3.svg" alt="feature")
                                div
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Reuseable Pug Code 
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") With pug Code is super less and reusable component. and there is most of component made with Mixins  
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/4.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Intrigante Scss 
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") We implement Tailwind With Scss So We can also use Scss features like nesting, variables etc..
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/5.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Gulp compiler
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white")  flexibility of JavaScript to automate slow, repetitive workflows and compose them into efficient build pipelines.
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/6.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Easy Customizable
                                    p(class="text-sm font-semibold sm:text-xs text-content3 line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") you can easily  customize according to your desire by adding some classes like dark,rtl,icon sidebar etc... 
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/7.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Responsive & User-Friendly
                                    p(class="text-sm font-semibold sm:text-xs text-content3 md:font-normal line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") This admin template are optimize to support  all screen size devices and user easily interact to design
                        div.col-span-3(class="xl:col-span-4 lg:col-span-6 sm:col-span-12")
                            div.flex.flex-col.gap-4.rounded-border-main.bg-white(class="border py-[30px] px-[20px] group rounded-[10px] rounded-border-main hover:bg-primary hover:translate-y-[-5px] hover:transition-all hover:ease translate-y-0")
                                div.rounded-border.w-fit
                                    img(class="w-12 h-12 bg-primary-extralight group-hover:bg-white p-[10px] rounded-full" src="../../assets/images/landing/feature/8.svg" alt="feature")
                                div 
                                    h3(class="mb-2 text-base font-bold truncate md:mb-1 xl:text-sm md:text-xs text-title group-hover:text-white") Limit less Components
                                    p(class="text-sm font-semibold sm:text-xs text-content3 md:font-normal line-clamp-3 lg:line-clamp-2 md:line-clamp-3 group-hover:text-white") We provide most use full pre build components like buttons,swap,tabs etc.., that help you to build your front end easily 












