//- sidebar
-var sidebar = true;

//- feathet
-var feather= true;

//- customSelect
-var customSelect= true;

//- customizer
-var customizer=true;

//- prism
-var prism=true;

//- Breadcrumbs
-var pageTitle="Tabs";
-var breadcrumb=['Bonus Ui','Tabs'];

//- json
include ../../data/all-data

//- mixin
include ../../mixin/mixin

doctype html
html(lang='en')  
  include ../../layout/header-files 
  body(dir="ltr" class="unique-skin")
    main.page-wrapper
      div.page-body-wrapper(class="xl:w-full 4xl:w-[calc(100%_-_14.375rem)] w-[calc(100%_-_15.8125rem)] ml-auto transition-all duration-300")
        include ../../layout/header/header     
        // Sidebar Start 
        div.page-sidebar.sidebar-dark.unique-sidebar
          include ../../layout/unique
        // Sidebar End 

        // Page Body Start 
        div.page-body
          div.grid.grid-cols-12.gap-card-gap
            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Tabs
                    p   Set tabs using 
                      strong  .tabs 
                      |   class.            
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex
                            button.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Web Designer 
                            button.tab.tab-lifted(data-tabFilter="2" class="tab-link") UX Designer  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5")
                              div.flex.flex-wrap.items-center.gap-4 
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/25.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Angela R. Lear
                                    span.text-content.text-3xs 239-664-7751 
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/15.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs")  Marjorie W. Martin
                                    span.text-content.text-3xs 440-494-0729
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/6.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Russell P. Renfrew
                                    span.text-content.text-3xs 718-740-8438
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/27.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Kevin A. Ek
                                    span.text-content.text-3xs 218-793-6609
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/26.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Carolyn A. Sutton
                                    span.text-content.text-3xs 314-445-1451
                            div(data-tabContent="2" class="relative tab-pan fade group first:rounded-tl-none rounded-5")
                              div.flex.flex-wrap.items-center.gap-4 
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/31.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Emily T. Hooper
                                    span.text-content.text-3xs 258-664-7751 
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/34.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs")  Ann J. Strickland
                                    span.text-content.text-3xs 440-851-0729
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/22.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Natasha W. Watson
                                    span.text-content.text-3xs 698-740-8438
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/13.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Thomas A. Leroy
                                    span.text-content.text-3xs 218-793-7845
                                div.flex.items-center.gap-2  
                                  div.avatar  
                                    div.w-10.rounded-full(class="xl:w-9") 
                                      img(src='../../assets/images/avatar/8.jpg' alt='avatar')
                                  div.flex.flex-col.gap-1
                                    h3.text-xs.font-bold(class="leading-none lg:text-2xs") Mark S. Ward
                                    span.text-content.text-3xs 314-4874-1451

                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="w-full .tabs flex-col"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tab-lifted tab-active tab-link" data-tabFilter="1"&gt; Web Designer &lt;/button&gt;
                          |           &lt;button class="tab tab-lifted tab-link" data-tabFilter="2"&gt; UX Designer &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl -none rounded-5"&gt; 
                          |               &lt;div class="flex flex-wrap gap-4"&gt;
                          |                   &lt;div class="flex flex-wrap gap-2"&gt;
                          |                       &lt;div class="avatar"&gt;
                          |                           &lt;div class="w-10 rounded-full xl:w-9"&gt;
                          |                               &lt;img src="../../image.jpg" alt="avatar"/&gt;
                          |                           &lt;/div&gt;
                          |                       &lt;/div&gt;
                          |                       &lt;div class="flex flex-col gap-1"&gt;
                          |                           &lt;h3 class="text-xs font-bold leading-none lg:text-2xs"&gt;Mark S. Ward&lt;/h3&gt;
                          |                           &lt;span class="text-content text-3xs"&gt;314-4874-1451&lt;/span&gt;
                          |                       &lt;/div&gt;                      
                          |                   &lt;/div&gt;                 
                          |               &lt;/div&gt;
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="relative tab-pan fade group first:rounded-tl-none rounded-5"&gt; 
                          |               &lt;div class="flex flex-wrap gap-4"&gt;
                          |                   &lt;div class="flex flex-wrap gap-2"&gt;
                          |                       &lt;div class="avatar"&gt;
                          |                           &lt;div class="w-10 rounded-full xl:w-9"&gt;
                          |                               &lt;img src="../../image.jpg" alt="avatar"/&gt;
                          |                           &lt;/div&gt;
                          |                       &lt;/div&gt;
                          |                       &lt;div class="flex flex-col gap-1"&gt;
                          |                           &lt;h3 class="text-xs font-bold leading-none lg:text-2xs"&gt;Mark S. Ward&lt;/h3&gt;
                          |                           &lt;span class="text-content text-3xs"&gt;314-4874-1451&lt;/span&gt;
                          |                       &lt;/div&gt;                      
                          |                   &lt;/div&gt;                 
                          |               &lt;/div&gt;                
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Rounded Tab 
                    p   Set tabs with border using  
                      strong  .rounded-bg 
                      |   class.            
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex
                            button.tab.tab-lifted.rounded-bg(data-tabFilter="1" class="tab-link") About Us  
                            button.tab.tab-lifted.rounded-bg.tab-active(data-tabFilter="2" class="tab-link") Contact Us  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade group first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Creating a website that will be valuable to its audience and be seen by them is the ultimate goal of all web design projects. It is vital to get friends with Google's mechanisms and algorithms in order to do that. A beautiful website serves no purpose if it appears on the tenth page of search results since no one will ever find it that way. Now let's talk about Google's Website Ranking.
                            div(data-tabContent="2" class="tab-pan fade active show relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 construct a web page in a professional manner. Completely adaptable and simple Drag-n-Drop Nicepage editor. Change the text and photos, as well as the colors, fonts, header and footer, layout, and other design components.
                                span.text-title.font-semibold Visit Us: 
                                  small.text-content3 4 Marigold Close, Glenmore Park, New South Wales, 2745 Australia- 2745
                                span.text-title.font-semibold Mail Us: 
                                  small.text-content3 SamuelMario@armyspy.com
                                span.text-title.font-semibold Contact: 
                                  small.text-content3 (02) 4733 6337


                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |    &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tab-lifted rounded-bg tab-link" data-tabFilter="1"&gt; About Us &lt;/button&gt;
                          |           &lt;button class="tab tab-lifted rounded-bg tab-active tab-link" data-tabFilter="2"&gt; Contact Us &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Border Tabs
                    p   Set bordered tabs using 
                      strong  .tabs-bordered 
                      |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex(class="3sm:justify-center")
                            button.tab.tabs-bordered.warning-border.tab-active(data-tabFilter="1" class="tab-link") Title 
                            button.tab.tabs-bordered.warning-border(data-tabFilter="2" class="tab-link") Description
                            button.tab.tabs-bordered.warning-border(data-tabFilter="3" class="tab-link") Others
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tabs-bordered warning-border tab-active tab-link" data-tabFilter="1"&gt; Title &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered warning-border tab-link" data-tabFilter="2"&gt; Description &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered warning-border tab-link" data-tabFilter="3"&gt; Others &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold With Active Tabs
                    p   Add boxed tabs using 
                      strong  .tabs-boxed 
                      |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex
                            button.tab.tabs-boxed.tab-active(data-tabFilter="1" class="tab-link") Home  
                            button.tab.tabs-boxed(data-tabFilter="2" class="tab-link") Profile
                            button.tab.tabs-boxed(data-tabFilter="3" class="tab-link") Contacts
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |    &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tab-boxed tab-active tab-link" data-tabFilter="1"&gt;Home &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed tab-link" data-tabFilter="2"&gt; Profile &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed tab-link" data-tabFilter="3"&gt; Contacts &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="2lg:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Vertical Tabs
                    p   Add vertical tabs with the help of  
                      strong  .tab-vertical 
                      |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.flex(class="sm:block").tabs
                          div.mb-1.flex.flex-col.justify-center.tab-links.flex(class="min-w-[8.125rem]")
                            button.tab.tabs-vertical.tab-active(data-tabFilter="1" class="tab-link") Home  
                            button.tab.tabs-vertical(data-tabFilter="2" class="tab-link") Tasks
                            button.tab.tabs-vertical(data-tabFilter="3" class="tab-link") Location  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan px-[0.9375rem] fade active show first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |    &lt;div class="flex w-full sm:block tabs"&gt;
                          |       &lt;div class="mb-1 flex flex-col justify-center tab-links min-w-[8.125rem]"&gt;
                          |           &lt;button class="tab tab-vertical tab-active tab-link" data-tabFilter="1"&gt; Home &lt;/button&gt;
                          |           &lt;button class="tab tab-vertical tab-link" data-tabFilter="2"&gt; Tasks &lt;/button&gt;
                          |           &lt;button class="tab tab-vertical tab-link" data-tabFilter="3"&gt; Location &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan px-[0.9375rem] fade active show first:rounded-tl-none rounded-5 border-none !pt-2"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |    &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="2lg:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Vertical Boxed Tabs
                    p   Add vertical Boxed tabs using 
                      strong  .tab-boxed 
                      |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.flex(class="sm:block").tabs
                          div.mb-1.flex.flex-col.justify-center.tab-links(class="min-w-[8.125rem]")
                            button.tab.tabs-boxed.secondary-boxed.tab-active(data-tabFilter="1" class="tab-link") Home  
                            button.tab.tabs-boxed.secondary-boxed(data-tabFilter="2" class="tab-link") Tasks
                            button.tab.tabs-boxed.secondary-boxed(data-tabFilter="3" class="tab-link") Location  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan px-[0.9375rem] fade active show first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="flex w-full sm:block tabs"&gt;
                          |       &lt;div class="mb-1 flex flex-col justify-center min-w-[8.125rem] tab-links"&gt;
                          |           &lt;button class="tab tab-boxed secondary-boxed tab-active tab-link" data-tabFilter="1"&gt; Home &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed secondary-boxed tab-link" data-tabFilter="2"&gt; Tasks &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed secondary-boxed tab-link" data-tabFilter="3"&gt; Location &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan px-[0.9375rem] fade active show first:rounded-tl-none rounded-5 border-none !pt-2&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan px-[0.9375rem] fade group relative first:rounded-tl-none rounded-5 border-none !pt-2"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;
            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Centered Tabs
                    p   Add tabs centered using 
                      strong .justify-center 
                      |   class. 
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.justify-center.tab-links.flex
                            button.tab.tabs-bordered.tab-active(data-tabFilter="1" class="tab-link") Dark  
                            button.tab.tabs-bordered(data-tabFilter="2" class="tab-link") Light
                            button.tab.tabs-bordered(data-tabFilter="3" class="tab-link") System  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |    &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex justify-center mb-1 tab-links"&gt;
                          |           &lt;button class="tab tabs-bordered tab-active tab-link" data-tabFilter="1"&gt; Dark &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tab-link" data-tabFilter="2"&gt; Light &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tab-link" data-tabFilter="3"&gt; System &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |    &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Ended Tabs
                    p   Set tabs at the end with the help of  
                      strong .justify-end 
                        |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.justify-end.tab-links.flex(class="2sm:justify-center")
                            button.tab.tabs-boxed.success-boxed.tab-active(data-tabFilter="1" class="tab-link") Product  
                            button.tab.tabs-boxed.success-boxed(data-tabFilter="2" class="tab-link") Price
                            button.tab.tabs-boxed.success-boxed(data-tabFilter="3" class="tab-link") Offer
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex justify-end mb-1 tab-links 2sm:justify-center"&gt;
                          |           &lt;button class="tab tab-boxed success-boxed tab-active tab-link" data-tabFilter="1"&gt; Product &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed success-boxed tab-link" data-tabFilter="2"&gt; Price &lt;/button&gt;
                          |           &lt;button class="tab tab-boxed success-boxed tab-link" data-tabFilter="3"&gt; Offer &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Colored Tabs
                    p   Adding background with the help of  
                      strong  .tabs-bordered-bg 
                      |   & 
                      strong  .tabs-bordered 
                      |   class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex(class="3sm:justify-center")
                            button.tab.tabs-bordered.tabs-bordered-bg.tab-active(data-tabFilter="1" class="tab-link") Products  
                            button.tab.tabs-bordered.tabs-bordered-bg(data-tabFilter="2" class="tab-link") Reviews
                            button.tab.tabs-bordered.tabs-bordered-bg(data-tabFilter="3" class="tab-link") More  
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                                |   Tabs are used to navigate and display different content around the website. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg tab-active tab-link" data-tabFilter="1"&gt; Products &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg tab-link" data-tabFilter="2"&gt; Reviews &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg tab-link" data-tabFilter="3"&gt; More &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

            div.col-span-6(class="md:col-span-12")
              div.card.tabs
                div.card-header.pb-2.header-bottom-border
                  div.flex.flex-col
                    h3.text-lg.font-bold Tabs with Icons
                    p   Adding icons inside the tabs with the help of 
                      strong .tabs 
                      | class.
                    div.preview-code.tab-links
                      button.p-0.tab.tab-lifted.tab-active(data-tabFilter="1" class="tab-link") Preview  
                      button.p-0.tab.tab-lifted(data-tabFilter="2" class="tab-link tab-2") Html
                div.card-body                                   
                  div.tabs-content
                    div(data-tabContent="1" class="tab-pan active show first:rounded-tl-none rounded-5")
                      div.flex.flex-wrap.gap-2
                        div.w-full.tabs.flex-col
                          div.mb-1.tab-links.flex(class="3sm:justify-center")
                            button.tab.tabs-bordered.tabs-bordered-bg.secondary-bg.tab-active(data-tabFilter="1" class="tab-link") 
                              +SVG_ICON("2-User","w-[1.125rem] h-[1.125rem] stroke-title")
                              |   Profile 
                            button.tab.tabs-bordered.tabs-bordered-bg.secondary-bg(data-tabFilter="2" class="tab-link") 
                              +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-title")
                              |   Message
                            button.tab.tabs-bordered.tabs-bordered-bg.secondary-bg(data-tabFilter="3" class="tab-link") 
                              +SVG_ICON("Setting","w-[1.125rem] h-[1.125rem] stroke-title")
                              |   Setting 
                          div.tabs-content
                            div(data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500  Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                                |   Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive. 
                            div(data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 We use tabs to manage space and to make the website more attractive. Tabs are used to navigate and display different content around the website. We use tabs to manage space and to make the website more attractive.
                            div(data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-1 !pb-0")
                              p.text-xs.text-gray-500 Tabs are used to navigate and display different content around the website. abs are used to navigate and display different content around the website.
                    div(data-tabContent="2" class="relative tab-pan copyParent group first:rounded-tl-none rounded-5")
                      button.btn.copyBtn(class="dark:text-white dark:bg-sidebar-dark dark:hover:bg-sidebar-dark dark:hover:text-white")   
                        i(data-feather="clipboard")
                      pre(class="overflow-auto language-html custom-scroll dark:bg-sidebar-dark2")
                        code(class="dark:bg-sidebar-dark2")
                          |&lt;div class="flex flex-wrap gap-2"&gt;
                          |   &lt;div class="flex-col w-full tabs"&gt;
                          |       &lt;div class="flex mb-1 tab-links"&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg secondary-bg tab-active tab-link" data-tabFilter="1"&gt;
                          |               +SVG_ICON("2-User","w-[1.125rem] h-[1.125rem] stroke-title") Profile &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg secondary-bg tab-link" data-tabFilter="2"&gt;
                          |               +SVG_ICON("Message","w-[1.125rem] h-[1.125rem] stroke-title") Message &lt;/button&gt;
                          |           &lt;button class="tab tabs-bordered tabs-bordered-bg secondary-bg tab-link" data-tabFilter="3"&gt;
                          |               +SVG_ICON("Setting","w-[1.125rem] h-[1.125rem] stroke-title") Setting &lt;/button&gt;
                          |       &lt;/div&gt;
                          |       &lt;div class="tabs-content"&gt;
                          |           &lt;div data-tabContent="1" class="tab-pan fade active show first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="2" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; We use tabs to ...attractive.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |           &lt;div data-tabContent="3" class="tab-pan fade group relative first:rounded-tl-none rounded-5 border-none !px-0 !pb-0"&gt; 
                          |               &lt;p class="text-xs text-gray-500"&gt; Tabs are used to ...websites.&lt;/p&gt;  
                          |           &lt;/div&gt;
                          |       &lt;/div&gt;
                          |   &lt;/div&gt; 
                          |&lt;/div&gt;

        // Page Body End 
        +footer("sm:flex-col flex sm:gap-1 gap-2 items-center justify-between py-[1.1875rem] shadow-footer bg-white px-body-space mt-card-gap")
include ../../components/customizer

include ../../layout/footer-files
