/*=====================
  3.20  Progress Bar Css
  ==========================*/
@layer components {
    .progress-bar {
      @apply h-2.5 w-full bg-gray-light rounded-full;

      div {
        @apply h-2.5 rounded-full;
      }

    &.multi-bar {
      div {
        @apply first:rounded-r-none last:rounded-l-none rtl:first:rounded-r  rtl:first:rounded-l-none rtl:last:rounded-r-none rtl:last:rounded-l;
      }
    }

    &.progress-sm {
      @apply h-1.5 md:h-1;

      div {
        @apply h-1.5 md:h-1;
      }
    }

    &.progress-md {
      @apply h-2.5 md:h-2;

      div {
        @apply h-2.5 md:h-2;
      }
    }

    &.progress-lg {
      @apply h-4 md:h-3;

      div {
        @apply h-4 md:h-3;
      }
    }

    &.progress-xl {
      @apply h-6 md:h-4;

      div {
        @apply h-6 md:h-4;
      }
    } 
  }
  .progress{
    @apply rounded-[3px] shadow-none bg-warning-extralight;
  } 
  .progress-striped {
    .progress-bar {
      background-image: linear-gradient(120deg, rgba(248, 170, 75, 1) 25%, transparent 25%, transparent 50%, rgba(248, 170, 75, 1) 50%, rgba(248, 170, 75, 1) 75%, transparent 75%, transparent);
      background-size: 16px 25px;
    } 
    &.progress-bar-striped {
      background-image: linear-gradient(120deg, rgba(248, 170, 75, 1) 25%, transparent 25%, transparent 50%, rgba(248, 170, 75, 1) 50%, rgba(248, 170, 75, 1) 75%, transparent 75%, transparent);
      background-size: 16px 25px;
    }
  }
  .progress-bar.active {
    animation: progress-bar-stripes 5s linear infinite;
    &.progress.active {
      .progress-bar {
        animation: progress-bar-stripes 5s linear infinite;
      }
    } 
  }
  .progress.active {
    .progress-bar {
      animation: progress-bar-stripes 5s linear infinite;
    }
    &.progress-bar.active {
      animation: progress-bar-stripes 5s linear infinite;
    }
  }
  .progress-bar{ 
    &.progress-bar-warning{
      @apply  bg-warning-extralight rounded-[3px];
    }
  }
}
@keyframes progress-bar-stripes{ 
  0% {
    background-position: 40px 0;
  }
  100% {
    background-position: 0 0;
  }
}