/*=====================
  3.20  Progress Bar Css
  ==========================*/
@layer components {
    .progress-bar {
      @apply h-2.5 w-full bg-gray-light rounded-full;

      div {
        @apply h-2.5 rounded-full;
      }

    &.multi-bar {
      div {
        @apply first:rounded-r-none last:rounded-l-none rtl:first:rounded-r  rtl:first:rounded-l-none rtl:last:rounded-r-none rtl:last:rounded-l;
      }
    }

    &.progress-sm {
      @apply h-1.5 md:h-1;

      div {
        @apply h-1.5 md:h-1;
      }
    }

    &.progress-md {
      @apply h-2.5 md:h-2;

      div {
        @apply h-2.5 md:h-2;
      }
    }

    &.progress-lg {
      @apply h-4 md:h-3;

      div {
        @apply h-4 md:h-3;
      }
    }

    &.progress-xl {
      @apply h-6 md:h-4;

      div {
        @apply h-6 md:h-4;
      }
    } 
  }
  .progress{
    @apply bg-content rounded-[5px] shadow-none ;
  } 
  .progress-striped{
    &.progress-bar{
      &.progress-bar-striped{ 
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      } 
    } 
  }
  .progress-striped .progress-bar, .progress-bar-striped{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); 
    background-size: 40px 40px;
  } 
  .progress{
    &.active{
      .progress-bar {
        animation: progress-bar-stripes 2s linear infinite;
      }
    }
  }
  .progress-bar{ 
    &.progress-bar-warning{
      @apply !bg-warning ;
    }
  }
}
