header.flex.items-center.justify-between(class="landing-header py-[calc(18px_+_(24_-_18)_*_((100vw_-_320px)_/_(1920_-_320)))] !mb-0")  
    div.flex.items-center.gap-4 
        a(href="landing.html") 
            img(class="w-[calc(65px_+_(97_-_65)_*_((100vw_-_320px)_/_(1920_-_320)))] h-auto" src="../../assets/images/logo/logo-dark.png" alt="logo") 

        button.hidden(class="md:block menu-toggle")
            i(data-feather="menu" class="w-4 h-4 stroke-dark")  

    nav(class="navigation nav-menu md:absolute transition-all relative z-20 md:left-0 md:w-full md:translate-y-20 sm:translate-y-16 md:p-5 md:pt-0 md:top-[-100px] md:invisible md:opacity-0 md:bg-[#F0F0F0]") 
        ul.flex.items-center(class="md:flex-col md:items-baseline md:gap-1 gap-[calc(5px_+_(36_-_5)_*_((100vw_-_320px)_/_(1920_-_320)))]") 
            li 
                a(class="font-medium home text-primary text-base-responsive" href="#home")
                    | Home   
            li 
                a(class="font-medium demo text-base-responsive" href="#framework") 
                    | Frameworks 
            li 
                a(class="font-medium component text-base-responsive" href="#core-feature")
                    | Core Feature  
            li 
                a(class="font-medium application text-base-responsive" href="#application")
                    | Applications  
            li 
                a(class="font-medium core-feature text-base-responsive" href="#document")
                    | Documentation  
            li 
                a(class="font-medium core-feature text-base-responsive" href="#document")
                    | Hire Us

    a.btn.btn-primary.text-white(class="sm:btn-sm" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank") 
        | Purchase Now          