//- =====================
//-  Sidebar Menu
//- =====================
-
  var SIDEBAR_MENU =
    [
      {
        menu:
          [
            {
              icon:"Home",
              title:"Getting started",
              url:"javascript:void(0)",
            },
            {
              icon:"Graph",
              title:"File structure",
              url:"./widgets.html",
            },
            {
              icon:"Document",
              title:"Working with gulp",
              url:"javascript:void(0)",
            },
            {
              icon:"Home",
              title:"Working with tailwind",
              url:"javascript:void(0)",
            },
            {
              icon:"Graph",
              title:"App List",
              url:"./widgets.html",
            },
            {
              icon:"Document",
              title:"Layouts",
              url:"javascript:void(0)",
            },
            {
              icon:"Document",
              title:"Starter kit",
              url:"javascript:void(0)",
            },
            {
              icon:"Document",
              title:"Remove Customizer",
              url:"javascript:void(0)",
            },
            {
              icon:"Document",
              title:"Thank you",
              url:"javascript:void(0)",
            },
            {
              icon:"Document",
              title:"Change log",
              url:"javascript:void(0)",
            },
          ]
      },
    ]