<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Govo admin is super flexible, powerful, clean &amp; modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Govo admin template, dashboard template, tailwind admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Govo - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <!-- Custom Select css-->
    <link rel="stylesheet" href="../../assets/css/vendors/custom-select.css">
    <!-- App css-->
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body class="unique-skin" dir="ltr">
    <main class="page-wrapper">
      <!-- Page Body Start-->
      <div class="page-body h-[100vh] !mt-0 bg-cover bg-no-repeat  bg-[url('../../assets/images/dotsbg.jpg')]">
        <div class="!flex items-center justify-center h-full p-[.9375rem] common-animate-main ratio_asos">
          <div class=" grid grid-cols-12 gap-0 mx-auto w-full max-w-[70%] xl:max-w-[50%] md:max-w-[70%] sm:max-w-[80%] 2sm:max-w-[100%] xl:flex xl:justify-center items-center">
            <div class="relative col-span-5 bg-white 2xl:col-span-6 z-1 xl:col-span-12 rounded-xl max-w-[29.375rem] min-w-[18.75rem] sm:min-w-[22.75rem] 2sm:min-w-[18.75rem] h-max">
              <form class="theme-form flex flex-col gap-3 !m-0 p-8 2sm:p-4" action="index.html">
                <h3>Coming Soon!!</h3>
                <p class="!mb-4">We're working hard to give you the best experience!</p>
                <div class="flex justify-center mb-4 md:mb-3 sm:mb-2">
                  <div class="p-4 sm:p-2">
                    <ul class="timer countdown-6 flex flex-wrap gap-5 3xl:gap-3">
                      <li><span class="days time-value"></span><span class="timer-label">Days</span></li>
                      <li><span class="hours time-value"></span><span class="timer-label">Hours</span></li>
                      <li><span class="minutes time-value"></span><span class="timer-label">Min </span></li>
                      <li><span class="seconds time-value"> </span><span class="timer-label">Sec</span></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <input type="email" placeholder="Enter your id" required>
                </div>
                <button class="btn btn-primary text-white hover:drop-shadow-lg !mt-2 md:!mt-1 mb:!mt-0 !mb-3">Notify Me</button>
                <div class="flex items-center gap-1"><i class="w-5 h-5 stroke-primary" data-feather="chevrons-left"></i><a href="index.html"> Back</a></div>
              </form>
            </div>
            <div class="col-span-7 rounded-lg 2xl:col-span-6 xl:col-span-12 xl:hidden">
              <div class="relative flex items-center justify-center"><img class="w-full" src="../../assets/images/svg/comingsoon.svg" alt="coming soon"><img class="common-animate animate-ping bottom-[14%] absolute right-[19%] w-[32%] animate__infinite animate__shakeY" src="../../assets/images/svg/comingsoon2.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Body End-->
    </main>
  </body>
</html>