<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Govo admin is super flexible, powerful, clean &amp; modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Govo admin template, dashboard template, tailwind admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Govo - Premium Admin Template</title>
    <!-- Favicon icon-->
    <link rel="icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../../assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <!-- Custom Select css-->
    <link rel="stylesheet" href="../../assets/css/vendors/custom-select.css">
    <!-- App css-->
    <link rel="stylesheet" href="../../assets/css/style.css">
  </head>
  <body class="unique-skin" dir="ltr">
    <main class="page-wrapper">
      <!-- Page Body Start-->
      <div class="page-body h-[100vh] !mt-0">
        <div class="flex items-center flex-col justify-center text-center common-animate-main">
          <div class="w-full relative max-w-[35%] 4xl:max-w-[40%] xl:max-w-[48%] lg:max-w-[55%] md:max-w-[68%] sm:max-w-[75%] 2sm:max-w-[80%]"><img class="w-full" src="../../assets/images/svg/404.svg" alt="404"><img class="common-animate ops-svg animate__animated animate__infinite animate__shakeY animate__slower" src="../../assets/images/svg/opps.svg" alt=""></div>
          <div class="mt-3 mb-4">
            <h1 class="mb-2 font-extrabold text-7xl text-primary lg:text-4xl sm:text-lg">Page Not Found</h1>
            <p class="font-normal text-content lg:text-base sm:text-xs ">The page you are looking for not available! &#128557;</p>
          </div><a class="p-2 text-white rounded bg-dark hover:drop-shadow-lg" href="index.html">Back to home </a>
        </div>
      </div>
      <!-- Page Body End-->
    </main>
  </body>
</html>